In [120]:
import pandas as pd
import numpy as np

In [130]:
data = pd.read_csv('Data/ex1data2.txt', names={'X1':0,'X2':1, 'y' :3})

In [131]:
data.head()

     X1  X2       y
0  2104   3  399900
1  1600   3  329900
2  2400   3  369000
3  1416   2  232000
4  3000   4  539900

In [132]:
X = data.iloc[:, :2]; X.head()
y = data.iloc[:, 2];y.head()
m = len(y)

In [133]:
def  featureNormalize(X):
    X_norm = X.copy()
#     mu = np.mean(X_norm)
#     sigma=np.std(X_norm)

# OR, we can use under one
    total = len(X_norm)
    mu = np.sum(X_norm/total)
    sigma = np.sqrt(np.sum(np.power((X_norm - mu),2))/total)
    return X_norm, mu, sigma

In [134]:
X_norm, mu, sigma = featureNormalize(X)

print('Computed mean:', mu)
print('Computed standard deviation:', sigma)

Computed mean: X1    2000.680851
X2       3.170213
dtype: float64
Computed standard deviation: X1    786.202619
X2      0.752843
dtype: float64

In [135]:
X_norm.head()

     X1  X2
0  2104   3
1  1600   3
2  2400   3
3  1416   2
4  3000   4

In [140]:
X = np.concatenate([np.ones((m,1)),X_norm], axis=1)

# np.shape(X_norm)
# np.shape(np.ones((m,1)))

(47, 1)

(47, 2)